
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(12, 12, 12);
    margin: 0;
}

main, header { 
    padding: 20px 5% 0% 5%;
}

header{
    display: flex;
    flex-direction: row;
    /* alinea paralelamente */
    justify-content: space-between; 
     /* alinea perpendicularmente */
    align-items: center;

}

header img{
    height: 80px;
    width: auto;
}

#options{
    color: white;
    display: flex;
    gap: 50px;
}

/* propiedad para seleccionar orden de hijos :nth-child */
#options .category-option{
    border-right: 2px solid rgb(58, 58, 58);
    width: 102px;
}

#options .category-option:nth-child(3){
    border: unset;
}

.assets-list a{
    color: white;
    text-decoration: none;
}

h3{
    color: yellow
}

.assets-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 15px;
}


.assets-list .asset-container{
    background-color: rgb(46, 46, 46);
    /* border: 1px solid lightgray; */
    border-radius: 5px;

}

footer{
    background-color: rgb(32, 32, 32);
    color: lightgray;
    /* position: absolute; ignora la posicion orgiginal para aplicar la indicada con left, top, right y bottom: */
    position: absolute;
    bottom: 0;
    width: 100%;
}